# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

version: '2'

services:

  orderer.evote.com:
    container_name: orderer.evote.com
    extends:
      file: peer-base.yaml
      service: orderer-base
    volumes:
        - ../channel-artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
        - ../crypto-config/ordererOrganizations/evote.com/orderers/orderer.evote.com/msp:/var/hyperledger/orderer/msp
        - ../crypto-config/ordererOrganizations/evote.com/orderers/orderer.evote.com/tls/:/var/hyperledger/orderer/tls
        - orderer.evote.com:/var/hyperledger/production/orderer
    ports:
      - 7050:7050

  peer0.itcae.evote.com:
    container_name: peer0.itcae.evote.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.itcae.evote.com
      - CORE_PEER_ADDRESS=peer0.itcae.evote.com:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      - CORE_PEER_CHAINCODEADDRESS=peer0.itcae.evote.com:7052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer1.itcae.evote.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.itcae.evote.com:7051
      - CORE_PEER_LOCALMSPID=OrgITMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/itcae.evote.com/peers/peer0.itcae.evote.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/itcae.evote.com/peers/peer0.itcae.evote.com/tls:/etc/hyperledger/fabric/tls
        - peer0.itcae.evote.com:/var/hyperledger/production
    ports:
      - 7051:7051
      - 7053:7053

  peer0.ce.evote.com:
    container_name: peer0.ce.evote.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.ce.evote.com
      - CORE_PEER_ADDRESS=peer0.ce.evote.com:9051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:9051
      - CORE_PEER_CHAINCODEADDRESS=peer0.ce.evote.com:9052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:9052
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.ce.evote.com:9051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.ce.evote.com:9051
      - CORE_PEER_LOCALMSPID=OrgCEMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/ce.evote.com/peers/peer0.ce.evote.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/ce.evote.com/peers/peer0.ce.evote.com/tls:/etc/hyperledger/fabric/tls
        - peer0.ce.evote.com:/var/hyperledger/production

    ports:
      - 9051:9051
      - 9053:9053

  peer0.kor.evote.com:
    container_name: peer0.kor.evote.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.kor.evote.com
      - CORE_PEER_ADDRESS=peer0.kor.evote.com:11051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:11051
      - CORE_PEER_CHAINCODEADDRESS=peer0.kor.evote.com:11052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:11052
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.kor.evote.com:11051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.kor.evote.com:11051
      - CORE_PEER_LOCALMSPID=OrgKORMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/kor.evote.com/peers/peer0.kor.evote.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/kor.evote.com/peers/peer0.kor.evote.com/tls:/etc/hyperledger/fabric/tls
        - peer0.kor.evote.com:/var/hyperledger/production
    ports:
      - 11051:11051
      - 11053:11053

  peer0.eng.evote.com:
    container_name: peer0.eng.evote.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.eng.evote.com
      - CORE_PEER_ADDRESS=peer0.eng.evote.com:13051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:13051
      - CORE_PEER_CHAINCODEADDRESS=peer0.eng.evote.com:13052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:13052
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.eng.evote.com:13051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.eng.evote.com:13051
      - CORE_PEER_LOCALMSPID=OrgENGMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/eng.evote.com/peers/peer0.eng.evote.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/eng.evote.com/peers/peer0.eng.evote.com/tls:/etc/hyperledger/fabric/tls
        - peer0.eng.evote.com:/var/hyperledger/production
    ports:
      - 13051:13051
      - 13053:13053
