Organizations:

    - &OrdererOrg
        Name: OrdererOrg
        ID: OrdererMSP
        MSPDir: crypto-config/ordererOrganizations/evote.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrdererMSP.member')"
            Writers:
                Type: Signature
                Rule: "OR('OrdererMSP.member')"
            Admins:
                Type: Signature
                Rule: "OR('OrdererMSP.admin')"

    - &OrgIT
        Name: OrgITMSP
        ID: OrgITMSP
        MSPDir: crypto-config/peerOrganizations/itcae.evote.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrgITMSP.admin', 'OrgITMSP.peer', 'OrgITMSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('OrgITMSP.admin', 'OrgITMSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('OrgITMSP.admin')"
        AnchorPeers:
            - Host: peer0.itcae.evote.com
              Port: 7051

    - &OrgCE
        Name: OrgCEMSP
        ID: OrgCEMSP
        MSPDir: crypto-config/peerOrganizations/ce.evote.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrgCEMSP.admin', 'OrgCEMSP.peer', 'OrgCEMSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('OrgCEMSP.admin', 'OrgCEMSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('OrgCEMSP.admin')"
        AnchorPeers:
            - Host: peer0.ce.evote.com
              Port: 9051

    - &OrgKOR
        Name: OrgKORMSP
        ID: OrgKORMSP
        MSPDir: crypto-config/peerOrganizations/kor.evote.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrgKORMSP.admin', 'OrgKORMSP.peer', 'OrgKORMSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('OrgKORMSP.admin', 'OrgKORMSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('OrgKORMSP.admin')"
        AnchorPeers:
            - Host: peer0.kor.evote.com
              Port: 11051

    - &OrgENG
        Name: OrgENGMSP
        ID: OrgENGMSP
        MSPDir: crypto-config/peerOrganizations/eng.evote.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrgENGMSP.admin', 'OrgENGMSP.peer', 'OrgENGMSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('OrgENGMSP.admin', 'OrgENGMSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('OrgENGMSP.admin')"
        AnchorPeers:
            - Host: peer0.eng.evote.com
              Port: 13051

Capabilities:

    Channel: &ChannelCapabilities
        V1_4_3: true
        V1_3: false
        V1_1: false

    Orderer: &OrdererCapabilities
        V1_4_2: true
        V1_1: false

    Application: &ApplicationCapabilities
        V1_4_2: true
        V1_3: false
        V1_2: false
        V1_1: false

Application: &ApplicationDefaults

    Organizations:

    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"

    Capabilities:
        <<: *ApplicationCapabilities

Orderer: &OrdererDefaults

    OrdererType: solo

    Addresses:
        - orderer.evote.com:7050

    BatchTimeout: 2s

    BatchSize:
        MaxMessageCount: 10
        AbsoluteMaxBytes: 99 MB
        PreferredMaxBytes: 512 KB

    Kafka:
        Brokers:
            - 127.0.0.1:9092

    EtcdRaft:
        Consenters:
            - Host: orderer.evote.com
              Port: 7050
              ClientTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer.evote.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer.evote.com/tls/server.crt
            - Host: orderer2.evote.com
              Port: 7050
              ClientTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer2.evote.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer2.evote.com/tls/server.crt
            - Host: orderer3.evote.com
              Port: 7050
              ClientTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer3.evote.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer3.evote.com/tls/server.crt
            - Host: orderer4.evote.com
              Port: 7050
              ClientTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer4.evote.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer4.evote.com/tls/server.crt
            - Host: orderer5.evote.com
              Port: 7050
              ClientTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer5.evote.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/evote.com/orderers/orderer5.evote.com/tls/server.crt

    Organizations:

    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
        BlockValidation:
            Type: ImplicitMeta
            Rule: "ANY Writers"

Channel: &ChannelDefaults

    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"

    Capabilities:
        <<: *ChannelCapabilities

Profiles:

    OrdererGenesis:
        <<: *ChannelDefaults
        Orderer:
            <<: *OrdererDefaults
            Organizations:
                - *OrdererOrg
            Capabilities:
                <<: *OrdererCapabilities
        Consortiums:
            SampleConsortium:
                Organizations:
                    - *OrgIT
                    - *OrgCE
                    - *OrgKOR
                    - *OrgENG

    ITChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *OrgIT
            Capabilities:
                <<: *ApplicationCapabilities

    CEChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *OrgCE
            Capabilities:
                <<: *ApplicationCapabilities

    KORChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *OrgKOR
            Capabilities:
                <<: *ApplicationCapabilities

    ENGChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *OrgENG
            Capabilities:
                <<: *ApplicationCapabilities

    COEChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *OrgIT
                - *OrgCE
            Capabilities:
                <<: *ApplicationCapabilities

    CHSSChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *OrgKOR
                - *OrgENG
            Capabilities:
                <<: *ApplicationCapabilities

    CollegeChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *OrgIT
                - *OrgCE
                - *OrgKOR
                - *OrgENG
            Capabilities:
                <<: *ApplicationCapabilities
