doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='./CSSfile.css' type='text/css')
    style.
      #warning{
      text-align: left;
      }
  body
    // pknu image
    section
      img#image(src='pknu.png')
    // breadcrumb
    section
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item.active(aria-current='page') 로그인
          li.breadcrumb-item.text-primary ①학과 학생회 선거
          li.breadcrumb-item.text-primary ②단과대학 학생회 선거
          li.breadcrumb-item.text-primary ③총학생회 선거
    // progressbar
    section
      .progress
        .progress-bar.bg-primary.w-0(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100') 0%
    // login
    .container(name='login_container')
      .row
        section#login.col
          form(method='post' action='./start_vote' id='loginForm')
            h1.py-2 로그인
            .form-group.row.was-validated
              label.col-lg-2.col-form-label.form-control-label.text-muted 아이디
              .col-lg-10
                input.form-control(type='text' name='id' required='' id='idField')
                #warning.invalid-feedback 아이디를 입력해주세요.
            .form-group.row
              label.col-lg-2.col-form-label.form-control-label.text-muted 비밀번호
              .col-lg-10
                input.form-control(type='password' name='pw' id='pwField')
            button.btn.btn-outline-primary.btn-lg.mr-2(type='button', id='loginBtn') 로그인
            #cantlogin.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    h4.modal-title 로그인 정보가 일치하지 않습니다.
                    button.close(type='button' data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                  .modal-body
                    | 아이디와 비밀번호가 일치하지 않습니다. 다시 한 번 확인해주세요.
                  .modal-footer
                    button.btn.btn-primary(type='button' data-dismiss='modal') 닫기
        // 로그인 방법 안내(jumbotron)
        section.bg-faded.py-2
          br
          br
          .jumbotron.w-100.py-5.mx-auto
            p.lead
              | 로그인 방법 안내
            p 포털시스템(portal.pknu.ac.kr)의 ID/Password와 동일합니다.
            p 초기 비밀번호 [교번/학번(수험번호)+주민번호앞6자리]
            p
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    script.
      $(document).ready(function() {
      $("#loginBtn").click(function() {
      id = document.getElementById('idField').value
      pw = document.getElementById('pwField').value
      fetch('http://192.168.230.137:4000/login', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
      id: id,
      pw: pw
      })
      })
      .then(response => response.json())
      .then(res => {
      if (res.result) {
      document.getElementById('loginForm').submit();
      } else {
      $("#cantlogin").modal();
      }
      })
      });
      });